/* */

/* alterar fonte do projeto para a lato */
* {
    font-family: 'Lato', sans-serif;
}

/* cor primária do fundo */
.bg-primary-color {
    background-color: #FFF;
}

/* cor secundária do fundo */
.bg-secondary-color {
    background-color: #ece8e2;
}

/* cor escura do fundo */
.bg-dark-color {
    background-color: #050505;
}

/* cor primária da fonte */
.primary-color {
    color: #050505;
}

/* cor secundária da fonte */
.secondary-color {
    color: #7a7a7a;
}

/* estilo da NAVBAR */

/* colocando uma linha no fim da NAVBAR */
#navbar {
    border-bottom: 1px solid #7a7a7a;
}

/* quando passa o curso encima dos links, muda para cor secundária de fonte */
#navbar a:hover {
    color: #7a7a7a;
}

/* destacando o link ativo com uma linha */
#navbar a.active {
    border-bottom: 1px solid #050505;
}

/* deixar o logo e nome um do lado do outro */
.navbar-brand {
    display: flex;
}

/* editar o tamanho da img do logo */
.navbar-brand img {
    width: 40px;
}

/* título, negrito, tamanho e afastar da img do logo */
.navbar-brand span {
    font-weight: 700;
    font-size: 1em;
    margin-left: 0.5em;
}

/* deixar os itens da NAVBAR alinhados, colocar no centro e usar todo o espaço para centralizar */
#navbar-items .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* espaçando os itens da NAVBAR (zero encima e embaixo e 1em entre eles nas laterias */
#navbar-items .nav-item {
    margin: 0 1em;
}

/* estilo dos SLIDERS */

/* afastar da navbar e afastar os conteúdos que vão ficar embaixo */
#slider {
    margin-top: 8em;
    margin-bottom: 1em;
}

/* subindo o texto */
#slider .carousel-caption {
    bottom: 3em;
}

/* tamanho do título e sombrear */
#slider .carousel-caption h5 {
    font-size: 2.5em;
    text-shadow: #000 2px 2px;
}

/* deixar os botões retos sem arredondar na borda */
.btn {
    border-radius: 0;
}

/* ajustar o botão do carousel */
#slider .btn {
    padding: 0.3 0.8em;
    font-size: 1em;
    margin-top: 1em;
}

/* selecionar os dois botões de anterior e próximo, alterar a cor e o tamanho */
.carousel-control-prev i,
.carousel-control-next i {
    color: #111;
    font-size: 3em;
}

/* deixar os ícones dos botões anterior e próximo e os três debaixo mais acesos */
.carousel-indicators [data-bs-target] {
    background-color: #222;
    opacity: 0.8;
}

/* destacar o indicador na cor preta */
.carousel-indicators .active {
    background-color: #000;
}

/* MEDIA QUERY para a versão desktop */
/* resolução menor para maior */
@media (min-width: 768px) {
    .navbar-brand span {
        font-weight: 700;
        font-size: 1.5em;
        margin-left: 0.5em;
    }

    #slider .carousel-caption {
        bottom: 15em;
    }

    #slider .carousel-caption h5 {
        font-size: 4em;
        text-shadow: #000 2px 3px;
    }

    #slider .btn {
        padding: 0.6 1.6em;
        font-size: 1.2em;
    }

    /* subindo os indicadores */
    .carousel-indicators {
        bottom: 7em;
    }
}

/* estilo dos MINI BANNERS */

/* espaçamento entre os mini banners e o fim da div (descolar do fim) */
#mini-banners {
    margin-bottom: 4em;
}

/* deixar os mini banners sem ponta */
#mini-banners .card {
    padding: 2em 0.3em;
    border-radius: 0;
    margin-bottom: 1em;
}

/* aumentar o tamanho dos ícones */
#mini-banners i {
    font-size: 4em;
}

/* afastar o título do texto */
#mini-banners .card-title {
    margin-bottom: 1.5em;
}

/* afastar o botão do texto */
#mini-banners .btn {
    margin-top: 1.5em;
    padding: 0.6em 1.2em;
}

/* MEDIA QUERY para a versão desktop */
/* subir os mini banners para sobrepor os sliders  */
@media (min-width: 768px) {
    #mini-banners {
        margin-top: -2.5em;
    }
}

/* estilo dos DESTAQUES */

/* espaçamento para a próxima sessão do site */
#featured-container {
    margin-bottom: 4em;
}

/* tamanho da fonte, espaçamento entre o título e o subtítulo, relativo pq o detalhe será absoluto */
.title {
    font-size: 1.75em;
    margin-bottom: 0.4em;
    position: relative;
}

/* pseudo-element entre as sessões dos sliders e dos trabalhos em destaque */
.title:before {
    width: 75px;
    /*border-top: 4px solid #7a7a7a; */
    content: "";
    position: absolute;
    bottom: 2em;
}

/* distância entre a imagem e o subtítulo */
#featured-images {
    margin-top: 2em;
}

/* posição da imagem relativa e cursor apontando quando passa encima da imagem */
#featured-images .col-md-4 {
    position: relative;
    cursor: pointer;
}

/* dar transparência a imagem */
#featured-images .col-md-4:hover > .banner-content {
    opacity: 0.8;
}

/* posição do texto da imagem absoluto, texto dentro da imagem */
#featured-images .banner-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.6;
    transition: 0.5s;
}

/* media query para desktop */
@media(min-width: 768px) {
    .title {
        font-size: 2.4em;
    }

    .title:before {
        bottom: 1.5em;
    }

    /* colocar título da imagem escondido, só aparece quando passa o cursor */
    #featured-images .banner-content {
        opacity: 0;
    }
}

/* estilo do INFO */

/* espaçamento no fim da div e no texto dos dados */
#info-content {
    margin-bottom: 4em; /* afastar da proxima sec */
    padding: 4em 1em; /* texto dentro versão mobile */

    /* border-radius: 10px; arredondar a borda */
    /* width: 65%; */
    /* margin-left: 1%; */ /*afastar da img */
}

/* separar o subitulo dos dados numéricos */
#info-numbers {
    margin: 1.5em 0;
}

/* colocar a imagem alinhada com os dados */

#info-banner {
    display: flex;
    align-items: center;
    margin-bottom: 2.5em;
    /* width: 34%; */
    /* height: 500px; */
    /* background-color: #333; */
    /* border-radius: 10px; */
    outline: 1px solid #7a7a7a;
    outline-offset: -20px;
    /* box-sizing: border-box; */
    box-shadow: 3px 3px 10px rgba(255, 255, 255, .1);
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

#info-content .historic {
    margin-top: 2.5em;
    
}


#info-banner .img-fluid {
    /* position: absolute; */
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    transition: transform .75s;
}


#info-banner:hover .img-fluid{
    transform: scale(1.01);
}

#info-banner .title {
    position: absolute;
    color: #FFF;
    font-weight: 300;
    left: 2em;
    bottom: 1em;
    font-size: 1.3em;
    text-shadow: 0 0 1px #000;
}

/* aumentar o tamanho dos números */
#info-numbers h3 {
    font-size: 3em;
}

/* dar um espaçamento nos dados na versão desktop */
@media(min-width: 768px){
    #info-content {
        padding: 3.5em;
    }

    #info-banner {
        margin-bottom: 4em;
    }
}

/* estilo do MAPA */

/* espaçamento entre o rodapé */
#map-container {
    margin-bottom: 4em;
}

/* mapa */

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    padding-bottom: 40%;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/* estilo do FOOTER TOP */

/* dar um espaço no final */
#footer {
    padding: 3em 2em;

}

/* separar o conteúdo do FOOTER do meio */
#footer-top {
    margin-bottom: 2em;
}

/* mudar a cor da fonte do texto e dos ícones (i) */
#footer-top,
#footer-top i {
    color: #fff;
}

/* alinhar o título ao centro */
#footer-top-title {
    text-align: center;
    margin-bottom: 2em;
}

/* alinhar os ícones ao centro */
#social-icons {
    text-align: center;
}
/* separar um do outro, aumentar a fonte e deixar o cursor no clique  */
#social-icons i {
    margin-right: 1em;
    margin-left: 1em;
    font-size: 1.5em;
    cursor: pointer;
}

/* quando passar o cursor mudar de cor */
#social-icons i:hover {
    color: #7a7a7a;
}

/* estilo do FOOTER DETAILS */

/* separar do conteúdo debaixo */
#footer-details {
    padding-top: 3em;
    margin-bottom: 1em;
}

/* configurações para mobile, deixar alinhados um embaixo do outro e com espaçamento */
#news-container,
#contact-container,
#links-container {
    padding: 0;
    border: 0;
    margin-bottom: 2em;
}

/* cor da fonte do h4 e separar do conteúdo abaixo do título */
#footer-details h4 {
    color: #fff;
    margin-bottom: 1.5em;

}

/* tirar as bordas arredondadas do input */
#news-container input {
    border-radius: 0;
    border: none;
}

/* afastar os links um dos outros */
#links-container li {
    margin-bottom: 0.5em;
}

/* tirar o sublinhado do link */
#links-container a {
    text-decoration: none;
}

/* quando passar o cursor muda de cor */
#links-container a:hover {
    color: #fff;
}

/* estilo do FOOTER BOTTOM */

/* criar borda para separar do details */
#footer-bottom {
    border-top: 1px solid #7a7a7a;
    padding-top: 2em;
    text-align: center;
}

/* separar o ícone do texto */
#footer-bottom i {
    margin-left: 0.3em;
}

/* alterações para versão desktop */
@media(min-width: 768px){
    /* margem do contato para o centro */
    #news-container {
        padding-right: 2em;
    }

    /* espaçamento */
    #links-container {
        padding-left: 2em;
    }

    /* colocar duas linhas entre os containers */
    #contact-container {
        padding: 0 2em;
        border-left: 1px solid #7a7a7a;
        border-right: 1px solid #7a7a7a;
    }

    #footer-top-title {
        text-align: left;
    }

    #social-icons {
        text-align: right;
    }

    #social-icons i {
        margin-left: 0;
    }
}

@media(max-width: 425px){
    #social-icons i {
        margin-left: 0;
        margin-left: 0;
    }
}

